.card{
    border: 2 px solid black;
    border-radius: 10px;
    padding: 15px;
    width:300px;
    background-color: white;
    gap: 10px;

}

.cards_wrapper{
display: flex;
flex: 1;
align-items: center;
justify-content: center;
gap: 20px;
background-color: aqua;

}